<section id="carousel">
  <div id="carousel-container">
    <ul>
      {% for slide in settings.slider %}
      <li style="background: {{ slide.bg_color }}">
        <div class="main-container">
          <figure>
            {% if slide.link != "" %}<a href="{{ slide.link }}" target="_blank">{% endif %}
              <img src="{{ slide.slide_img | asset_url }}" alt="" />
            {% if settings.link != "" %}</a>{% endif %}
          </figure>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  
  <div id="carousel-navbar">
    <div class="main-container">
      <!-- Product spotlight -->
      <a id="product-spotlight" href="/products/{{ settings.spotlight_item }}">
        <figure>
          <img src="{{ 'kit-placeholder.jpg' | asset_url }}" alt="" />
          <div id="spotlight-overlay">
            <div id="spotlight-icon"></div>
          </div>
        </figure>
        
        <span id="spotlight-title">
          Product Spotlight
        </span>
        <span id="spotlight-product">
          Teeth Whitening Kit
        </span>
      </a>
      
      <!-- Carousel navigation -->
      <div id="carousel-navigation">
        <div class="carousel-btn left unactive"></div>
        <div class="carousel-btn right {% if settings.slider.size < 3 %}unactive{% endif %}"></div>
        
        <div id="carousel-slides-container">
          <ul>
            {% for slide in settings.slider %}
            <li {% if forloop.first %}class="active"{% endif %}>
              <div class="thumbnail">
                <img src="{{ slide.preview_img | asset_url }}" alt="" />
              </div>
              
              <div class="preview-description">
                <span class="title">{{ slide.title }}</span>
                
                <p>
                  {{ slide.short_desc | truncate: 70 }}
                </p>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>