<footer class="main">
  {% comment %}
  {% if linklists.footer.links.size > 0 %}
  <p role="navigation">
  {% for link in linklists.footer.links %}
    <a href="{{ link.url }}" title="{{ link.title }}"{% if link.active %} class="active"{% endif %}>{{ link.title }}</a>
  {% endfor %}
  </p>
  {% endif %}
  
  {% unless shop.enabled_payment_types == empty %}
<div class="payment-types">
    {% for type in shop.enabled_payment_types %}
    <img width="40" src="{{ type | payment_type_img_url }}" />
    {% endfor %}
  </div>
  {% endunless %}
  {% endcomment %}
  
  <div class="main-container">
    <a href="" id="footer-brand">
      Smile Sciences
    </a>
    
    <ul class="social">
      <li class="facebook">
        <a href="{{ settings.social.facebook }}" target="_blank">Visit us on facebook</a>
      </li>
      <li class="twitter">
        <a href="{{ settings.social.twitter }}" target="_blank">Visit us on Twitter</a>
      </li>
      <li class="youtube">
        <a href="{{ settings.social.youtube }}" target="_blank">Visit us on YouTube</a>
      </li>
    </ul>
    
    {% comment %}
    <div id="newsletter-signup">
      <h6>Sign up for our newsletter</h6>
      <form>
        <table>
          <tr>
            <td>
              <input type="email" placeholder="Email Address:" name="newsletter-email" />
            </td>
            <td>
              <input type="submit" value="Submit">
            </td>
          </tr>
          <tr>
            <td id="newsletter-memo">
              Sign up for all things {{ shop.name }} related like news and deals.
            </td>
            <td></td>
          </tr>
        </table>  
      </form>
    </div>
    {% endcomment %}
    
    <div class="clearfix"></div>
    <div id="copyright">Copyright &copy; {{ "now" | date: "%Y" }} {{ shop.name }} - All Rights Reserved.</div>
  </div>
</footer>