{% comment %}Is this product on sale?{% endcomment %}
{% assign on_sale = false %}
{% if item.compare_at_price > item.price %}
  {% assign on_sale = true %}
{% endif %}

<li class="{% unless item.available %}sold-out{% endunless %}{% if on_sale %} on-sale{% endif %}">
  <div class="product-image-wrap">  
    <a href="{{ item.url | within: collection }}">
      <img src="{{ item | img_url: 'grande' }}" alt="{{ item.featured_image.alt | escape }}" />
    </a>
  </div>

  <div class="product-caption">
    <span class="product-title">{{ item.title | truncate: 22 }}</span>
    
    <p class="product-description">
      {{ item.description | strip_html | truncate: 72 }}
    </p>
    
    <span class="product-price">
      {% if item.price_varies %}From{% endif %}
      {{ item.price | money }}
      {% if on_sale %}
      <s class="compare-at-price">{{ item.compare_at_price | money }}</s>
      {% endif %}
    </span>
    
    <a href="{{ item.url | within: collection }}" class="btn view-product">View this product</a>
  </div>  
</li>

{% comment %}
You don't need to use a clearing div. Use whatever it is you use to clear
floated elements. The code that follows just just shows you how to use a cycle element.
Notice that we named it ( 'clear' ). We need to name it because there's another cycle
element in this file ( we called that other one 'last' ). If you have more than one
cycle element in a rendered view, you'll need to name all of them.
The cycle element is documented here: http://docs.shopify.com/themes/liquid-basics/logic#cycle
{% endcomment %}

{% if product-grid-item == 'six-per-row' %}
{% cycle 'clear': '', '', '', '', '', '<div style="clear:both"></div>' %}
{% elsif product-grid-item == 'five-per-row' %}
{% cycle 'clear': '', '', '', '', '<div style="clear:both"></div>' %}
{% elsif product-grid-item == 'four-per-row' %}
{% cycle 'clear': '', '', '', '<div style="clear:both"></div>' %}
{% elsif product-grid-item == 'three-per-row' %}
{% cycle 'clear': '', '', '<div style="clear:both"></div>' %}
{% elsif product-grid-item == 'two-per-row' %}
{% cycle 'clear': '', '<div style="clear:both"></div>' %}
{% endif %}