<div id="upsale-wrapper">
  <div id="upsale-overlay"></div>
  <div id="upsale-container">
    <div id="upsale-offer-bar"></div>
    
    <div id="upsale">
      <div id="product-upsale-image"></div>
    
      <div id="product-column">
        <h2></h2>
        
        <div id="product-variants">
          <table>
            <tr>
              <td width="150">Choose your option:</td>
              <td>
                <select id="product-select" class="dropdown" name="id"></select>
              </td>
            </tr>
          </table>
        </div>
        
        <p id="upsale-description"></p>
        
        <div id="upsale-regular-price">
          Regular Price: <span></span>
        </div>
                
        <div id="upsale-actions">
          <a href="" class="btn add-to-cart"></a>
        </div>
      </div>
      
      <div class="clearfix"></div>
      
      <div id="upsale-added">
        <div class="message">
          Product has been added to your order
        </div>
      </div>
    </div>
  
    <div id="add-ons">
      <h3>Recommended add-ons:</h3>
      <ul>
        {% for product in collections.recommended.products limit:3 %}
          <li>
            <div class="btn add-on" onclick="SmileSciencesUpsale.cart.addItemFromRecommended({{ product.variants[0].id }}, {{ forloop.index - 1 }})">+</div>
            <a href="/products/{{ product.handle }}" target="_blank">
              <div class="product-thumbnail">
                <img src="{{ product.images[0].src | product_img_url: 'medium' }}" alt="{{ product.title }}" />
              </div>
              <div class="product-info">
                <span class="price">{{ product.price | money }}</span>
                <h6>{{ product.title }}</h6>
                {{ product.description | strip_html | truncate: 200 }}
              </div>
            </a>
            
            <div class="clearfix"></div>
          </li>
        {% endfor %}
      </ul>
      
      <div id="upsale-actions">
        <a href="/cart" class="btn continue-checkout">
          Continue with checkout
        </a>
      </div>
    </div>
  </div>
</div>