{% assign banner-image = 'discount-page-banner.png' %}
{% include 'page-banner' with banner-image %}

<section id="cart">
  <div class="main-container">
    <h1>Shopping Cart</h1>
    <h6>Summary of all your items you want to purchase</h6>
  </div>
  
  {% if cart.item_count > 0 %}
  
  <form action="/cart" method="post">
    
    <div class="cart-row header">
      <div class="main-container">
        <div class="row">
          <div class="col">Item:</div>
          <div class="col">Price:</div>
          <div class="col">Quantity:</div>
          <div class="col">Total:</div>
          <div class="col"></div>
        </div>
      </div>
    </div>
    
    {% for item in cart.items %}

    {% comment %}
    Determining the handle of the collection that was last seen for the 'continue shopping' link.
    {% endcomment %}
    
    {% assign collection_url = item.product.collections.last.url %}
    {% if collection_url == '/collections/frontpage' or collection_url == blank %}
      {% assign collection_url = '/collections/all' %}
    {% endif %}
    
    {% if forloop.first %}
      {% assign continue_shopping_url = collection_url %}
    {% endif %}
        
    <div class="cart-row">
      <div class="main-container">
        <div class="row">
          <div class="col">
            <div class="item-img">
              <a href="{{ collection_url }}{{ item.url }}">
                <img src="{{ item | img_url: 'compact' }}"  alt="{{ item.title | escape }}" />
              </a>
            </div>
            <a href="{{ collection_url }}{{ item.url }}">
              {{ item.title }}
            </a>
          </div>
          <div class="col">
            {{ item.price | money }}
          </div>
          <div class="col">
            <input type="number" name="updates[]" id="updates_{{ item.id }}" class="quantity" value="{{ item.quantity }}" />
          </div>
          <div class="col">
            {{ item.line_price | money }}
          </div>
          <div class="col">
            <a href="/cart/change?line={{ forloop.index }}&quantity=0" class="btn cart-remove"></a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    
    <div class="clearfix"></div>
    
    {% comment %}
    <table id="cart-content">
      <tbody>
      {% for item in cart.items %}    
      
        
        
        <tr>
          <div class="main-container">
          <td>
            <div class="item-img">
              <a href="{{ collection_url }}{{ item.url }}">
                <img src="{{ item | img_url: 'compact' }}"  alt="{{ item.title | escape }}" />
              </a>
            </div>
          </td>
          <td>
            <h2>
              <a href="{{ collection_url }}{{ item.url }}">
                {{ item.title }}
              </a>
            </h2>
            {% comment %}
            Line Item Properties
            {% endcomment %}
            {% if item.properties.size > 0 %}
            <p>
              {% for p in item.properties %}
                {% unless p.last == blank %}
                  {{ p.first }}:
                  {% if p.last contains '/uploads/' %}
                    <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                  {% else %}
                    {{ p.last }}
                  {% endif %}
                  <br />
                {% endunless %}
              {% endfor %}
            </p>
            {% endif %}
          </td>
          <td>{{ item.price | money }}</td>
          <td>
            <input type="number" name="updates[]" id="updates_{{ item.id }}" class="quantity" value="{{ item.quantity }}" />
          </td>
          <td>{{ item.line_price | money }}</td>
          <td>
            <a href="/cart/change?line={{ forloop.index }}&quantity=0" class="btn cart-remove"></a>
          </td>
          </div>
        </tr>
      {% endfor %}
      
      </tbody>
      
    </table>
    {% endcomment %}
    
    <div class="main-container cart-actions">
      {% comment %}
      For the special instructions to be submitted with order,
      we need to use a name attribute set to 'note'.
      {% endcomment %}
      <div class="cart-action-column note">
        <textarea name="note" placeholder="Add a note to your order:">{{ cart.note }}</textarea>
      </div>
      
      {% comment %}
      For the checkout and update buttons to work, they need to use
      a name attribute set to 'checkout' and 'update', respectively. That's case-sensitive.
      {% endcomment %}
      <div class="cart-action-column checkout">
        <h3 class="subtotal">Subtotal: <em>{{ cart.total_price | money }}</em></h3>
        <h6 class="cart-notice">Please allow up to 14 days for standard shipping and handling.</h6>
        <input type="submit" name="update" class="btn" value="Update cart" />
        <input type="submit" name="checkout" class="btn proceed" value="Process to check out" />    
      </div>
      
      <div class="clearfix"></div>
    </div>
  </form>
  
  {% else %}
  
  <div class="main-container empty-cart">
    <i></i>
    
    <h2>It appears that your cart is currently empty!</h2>
    <h3>You can continue browsing <a href="/collections/all">here</a>.</h3>
  </div>
  
  {% endif %}
</section>