<section id="search-results">
  <div class="main-container">
    {% comment %}
    search.performed is false when accessing the /search page without a 'q' parameter set
    in the URL. A shop-owner can link to the /search page from one of his link lists.
    It is important to show a search form on that page if search.performed is false.
    {% endcomment %}
    
    <h1 class="page-title">Search Results:</h1>
    
    {% if search.performed %}
      
      {% paginate search.results by 10 %}
      
      {% comment %}
      Common pitfall to avoid: search.results should never be accessed before the opening 
      paginate tag. Move the opening and closing paginate tags to the very top and bottom of your
      search.liquid template if you need to.
      If you fail to do the above, the pagination of search results will be broken.
      search.results_count is fine to access in or out of the paginate block.
      {% endcomment %}
    
      {% if search.results_count == 0 %}  
      <p class="no-results">Your search for "{{ search.terms }}" did not yield any results.</p>              
      {% else %}
      <ul>
        {% for item in search.results %}      
        <li>
          {% if item.vendor %}
          <div class="result-image">
            <a href="{{ item.url }}" title="{{ item.title | escape }}" class="thumbnail">
              {{ item | img_url: 'small' | img_tag: item.featured_image.alt }}
            </a>
          </div>
          {% endif %}
          <div class="result-details">
            <h3>{{ item.title | link_to: item.url }}</h3>
            <span>{{ item.content | strip_html | truncatewords: 40 | highlight: search.terms }}</span>        
          </div>
          
          <div class="clearfix"></div>
        </li>
        {% endfor %}
      </ul>
      
      <div class="clearfix"></div>
      {% endif %}    
      
      {% if paginate.pages > 1 %}
      <div id="pagination">
        {{ paginate | default_pagination }}
      </div>
      {% endif %}
      
      {% endpaginate %}    
      
    {% endif %}  
  
  </div>
</div>